mixin tabs-nav()
	+b.tabs
		+e.nav
			block

mixin tabs-link(target,group,act)
	- var active = ''
	if act != '' && act != undefined
		- active = isActive
	if target != undefined && group != undefined
		+e.link.js-toggle(data-toggle-type="choice" data-toggle-target=target data-target-group=group class=active)&attributes(attributes)
			if block
				block
	else
		+e.link(class=active)&attributes(attributes)
			if block
				block

mixin tabs-item(id,act)
	- var active = ''
	if act != '' && act != undefined
		- active = isActive
	div(class=themePrefix+'-tabs__item '+active)&attributes(attributes)
		if block
			block
