mixin hover-parallax-area(targets,duration,exceptions)
  +b.hover-parallax(data-target=targets data-duration=duration data-easing="Quint.easeOut" data-hover-exceptions=exceptions)

mixin hover-parallax-target(x,y)
  +e.target(data-ratio-x=x data-ratio-y=y)
